<header class="header-one header-seven inner header--sticky header-sticky-smooth">
    <div class="header-main header-main-2">
        <div class="row">
            <div class="col-lg-12">
                <div class="header-mid-one-wrapper wrapper-two">
                    <div class="left d-flex align-items-center">
                        <div class="logo-area shape-none">
                            <a (click)="gotoHome()">
                                <img src="assets/logo.png" alt="logo" width="100%" class="main-logo">
                            </a>
                        </div>
                    </div>
                    <div class="header-right">
                        <div class="single-component">
                            <button class="tmp-btn btn-primary hover-icon-reverse btn-sm" (click)="Logout()">
                                <span class="icon-reverse-wrapper">
                                    <span class="btn-text">Logout</span>
                                    <span class="btn-icon"><i class="fa-solid fa-right-from-bracket"></i></span>
                                    <span class="btn-icon"><i class="fa-solid fa-right-from-bracket"></i></span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>