<div class="tmp-login-area tmp-section-gap">
    <div class="container-3">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="login-registration-area-wrapper">
                    <h2 class="title text-center">Login</h2>
                    <form action="#">
                        <div class="single-input">
                            <input type="text" id="name" placeholder="User Name Or Email" required=""
                                autocomplete="off">
                        </div>
                        <div class="single-input">
                            <input type="password" placeholder="Password*" required="" autocomplete="off">
                        </div>
                        <button type="button" (click)="gotoAdmin()"
                            class="tmp-btn btn-primary hover-icon-reverse mw-100">
                            <span class="icon-reverse-wrapper">
                                <span class="btn-text">Log In</span>
                                <span class="btn-icon"><i class="fa-solid fa-arrow-right"></i></span>
                                <span class="btn-icon"><i class="fa-solid fa-arrow-right"></i></span>
                            </span>
                        </button>


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>