<div class="about-area-breadcrumb-two bg_image" data-black-overlay="5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="about-content-two-wrapper">
                    <span class="b_one-pre cw">
                        Innovate Transform Your World
                    </span>
                    <h1 class="title-banner cw">
                        Creating Modern Structures With <br> Precision Craftsmanship
                    </h1>
                    <a href="#aboutcompany" (click)="$event.preventDefault(); scrollTo('aboutcompany')" class="tmp-btn btn-primary hover-white hover-icon-reverse">
                        <span class="icon-reverse-wrapper">
                            <span class="btn-text">More About Us</span>
                            <span class="btn-icon"><i class="fa-solid fa-arrow-right"></i></span>
                            <span class="btn-icon"><i class="fa-solid fa-arrow-right"></i></span>
                        </span>
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- about area breadcrumb-two end -->



<!-- About Area Start -->
<section class="tmp-about-area area-4 tmp-section-gapTop pb_md--80 pb_sm--80" id="aboutcompany">
    <div class="container-3">
        <div class="section-inner">
            <div class="row align-items-center">
                <div class="col-lg-6 order-change">
                    <div class="about-bento-style-images bento-left-style">
                        <div class="thumbnail image-1">
                            <img data-parallax='{"x": 0, "y": -20}' src="assets/images/about/bento/01.webp" alt="">
                        </div>
                        <div class="thumbnail image-2">
                            <img data-parallax='{"x": 0, "y": 60}' src="assets/images/about/bento/02.webp" alt="">
                        </div>
                        <div class="thumbnail image-3">
                            <img data-parallax='{"x": 0, "y": 80}' src="assets/images/about/bento/04.webp" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6  pl--60 pl_md--10 pl_sm--10 mt_md--30 mt_sm--30">
                    <div class="left-side-content">
                        <div class="section-title-area-4" data-sal="slide-up" data-sal-duration="800"
                            data-sal-delay="200">
                            <p class="sub-title cg">ABOUT COMPANY</p>
                            <h2 class="section-title tmp-title-split mb--25">Powering The Business In Smart Way</h2>
                        </div>
                        <p class="desc mb--30" data-sal="slide-up" data-sal-duration="800" data-sal-delay="300">Our
                            service doesn’t stop at installation. We provide comprehensive maintenance and support
                            packages to ensure your system continues to perform at its best.</p>
                        <ul class="about-feature-list" data-sal="slide-up" data-sal-duration="800" data-sal-delay="400">
                            <li class="single">
                                <div class="icon">
                                    <i class="far fa-check"></i>
                                </div>
                                <span>Expert in Sustainable & Renewable Building Practices</span>
                            </li>
                            <li class="single">
                                <div class="icon">
                                    <i class="far fa-check"></i>
                                </div>
                                <span>Professional Construction & Site Management</span>
                            </li>
                            <li class="single">
                                <div class="icon">
                                    <i class="far fa-check"></i>
                                </div>
                                <span>Coordinator of Residential Construction Projects</span>
                            </li>
                        </ul>

                        <div class="about-feature-wrapper" data-sal="slide-up" data-sal-duration="800"
                            data-sal-delay="600">
                            <div class="icon">
                                <i class="fa-solid fa-heart"></i>
                            </div>
                            <div class="content">
                                <h3 class="title">Strong Foundation</h3>
                                <p class="disc">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro tenetur qui laborum.
                                </p>
                            </div>
                        </div>

                        <div class="button-area-about">
                            <a href="#ourwork"(click)="$event.preventDefault(); scrollTo('ourwork')"  class="tmp-btn btn-primary hover-icon-reverse" data-sal="slide-up"
                                data-sal-duration="800" data-sal-delay="500">
                                <span class="icon-reverse-wrapper">
                                    <span class="btn-text">More About Us</span>
                                    <span class="btn-icon"><i class="fa-solid fa-arrow-right"></i></span>
                                    <span class="btn-icon"><i class="fa-solid fa-arrow-right"></i></span>
                                </span>
                            </a>
                            <a href="tel:+92324588007" class="text-btn" data-sal="slide-up"
                                data-sal-duration="800" data-sal-delay="600"><i class="fa-regular fa-phone"></i> <span
                                    class="hover-moving-primary">+92 324 588007</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Area End -->

<!-- Working Process Area Start -->
<section class="tmp-working-process-area tmp-section-gap bg-white" id="ourwork">
    <div class="section-title-area-3">
        <p class="sub-title cg" data-sal="slide-up" data-sal-duration="800" data-sal-delay="100">OUR WORKS</p>
        <h2 class="section-title tmp-title-split" data-sal="slide-up" data-sal-duration="800" data-sal-delay="300">
            Showcasing Our Excellence <br> in Construction</h2>
    </div>
    <div class="section-inner mt--60 mt_sm--40">
        <div class="swiper tmpWorkingSlider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="working-process-wrapper7 cp-none">
                        <div class="image-area">
                            <img src="assets/images/working-process/21.webp" alt="">
                            <a href="#" class="tmp-icon-overlay-link-btn btn-bg-dark btn-xl">
                                <span class="tmp-btn-overlay">
                                    <i class="tmp-icon fa-solid fa-arrow-right"></i>
                                    <i class="tmp-icon-bottom fa-solid fa-arrow-right"></i>
                                </span>
                            </a>
                        </div>
                        <div class="content">
                            <p>Residential Building</p>
                            <h3 class="title"><a href="#">Modern House</a></h3>
                            <a href="#" class="tmp-btn btn-border hover-icon-reverse btn-sm">
                                <span class="icon-reverse-wrapper">
                                    <span class="btn-text">View Details</span>
                                    <span class="btn-icon"><i class="fa-solid fa-arrow-right"></i></span>
                                    <span class="btn-icon"><i class="fa-solid fa-arrow-right"></i></span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="working-process-wrapper7 cp-none">
                        <div class="image-area">
                            <img src="assets/images/working-process/22.webp" alt="">
                            <a href="#" class="tmp-icon-overlay-link-btn btn-bg-dark btn-xl">
                                <span class="tmp-btn-overlay">
                                    <i class="tmp-icon fa-solid fa-arrow-right"></i>
                                    <i class="tmp-icon-bottom fa-solid fa-arrow-right"></i>
                                </span>
                            </a>
                        </div>
                        <div class="content">
                            <p>Commercial Construction</p>
                            <h3 class="title"><a href="#">Office Block</a></h3>
                            <a href="#" class="tmp-btn btn-border hover-icon-reverse btn-sm">
                                <span class="icon-reverse-wrapper">
                                    <span class="btn-text">View Details</span>
                                    <span class="btn-icon"><i class="fa-solid fa-arrow-right"></i></span>
                                    <span class="btn-icon"><i class="fa-solid fa-arrow-right"></i></span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="working-process-wrapper7 cp-none">
                        <div class="image-area">
                            <img src="assets/images/working-process/23.webp" alt="">
                            <a href="#" class="tmp-icon-overlay-link-btn btn-bg-dark btn-xl">
                                <span class="tmp-btn-overlay">
                                    <i class="tmp-icon fa-solid fa-arrow-right"></i>
                                    <i class="tmp-icon-bottom fa-solid fa-arrow-right"></i>
                                </span>
                            </a>
                        </div>
                        <div class="content">
                            <p>Industrial Project</p>
                            <h3 class="title"><a href="#">Factory Build</a></h3>
                            <a href="#" class="tmp-btn btn-border hover-icon-reverse btn-sm">
                                <span class="icon-reverse-wrapper">
                                    <span class="btn-text">View Details</span>
                                    <span class="btn-icon"><i class="fa-solid fa-arrow-right"></i></span>
                                    <span class="btn-icon"><i class="fa-solid fa-arrow-right"></i></span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="working-process-wrapper7 cp-none">
                        <div class="image-area">
                            <img src="assets/images/working-process/21.webp" alt="">
                            <a href="#" class="tmp-icon-overlay-link-btn btn-bg-dark btn-xl">
                                <span class="tmp-btn-overlay">
                                    <i class="tmp-icon fa-solid fa-arrow-right"></i>
                                    <i class="tmp-icon-bottom fa-solid fa-arrow-right"></i>
                                </span>
                            </a>
                        </div>
                        <div class="content">
                            <p>Road & Bridge Work</p>
                            <h3 class="title"><a href="#">City Bridge</a></h3>
                            <a href="#" class="tmp-btn btn-border hover-icon-reverse btn-sm">
                                <span class="icon-reverse-wrapper">
                                    <span class="btn-text">View Details</span>
                                    <span class="btn-icon"><i class="fa-solid fa-arrow-right"></i></span>
                                    <span class="btn-icon"><i class="fa-solid fa-arrow-right"></i></span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="working-process-wrapper7 cp-none">
                        <div class="image-area">
                            <img src="assets/images/working-process/22.webp" alt="">
                            <a href="#" class="tmp-icon-overlay-link-btn btn-bg-dark btn-xl">
                                <span class="tmp-btn-overlay">
                                    <i class="tmp-icon fa-solid fa-arrow-right"></i>
                                    <i class="tmp-icon-bottom fa-solid fa-arrow-right"></i>
                                </span>
                            </a>
                        </div>
                        <div class="content">
                            <p>Renovation Project</p>
                            <h3 class="title"><a href="#">Home Remodel</a></h3>
                            <a href="#" class="tmp-btn btn-border hover-icon-reverse btn-sm">
                                <span class="icon-reverse-wrapper">
                                    <span class="btn-text">View Details</span>
                                    <span class="btn-icon"><i class="fa-solid fa-arrow-right"></i></span>
                                    <span class="btn-icon"><i class="fa-solid fa-arrow-right"></i></span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="working-process-wrapper7 cp-none">
                        <div class="image-area">
                            <img src="assets/images/working-process/23.webp" alt="">
                            <a href="#" class="tmp-icon-overlay-link-btn btn-bg-dark btn-xl">
                                <span class="tmp-btn-overlay">
                                    <i class="tmp-icon fa-solid fa-arrow-right"></i>
                                    <i class="tmp-icon-bottom fa-solid fa-arrow-right"></i>
                                </span>
                            </a>
                        </div>
                        <div class="content">
                            <p>Architecture Design</p>
                            <h3 class="title"><a href="#">Urban Design</a></h3>
                            <a href="#" class="tmp-btn btn-border hover-icon-reverse btn-sm">
                                <span class="icon-reverse-wrapper">
                                    <span class="btn-text">View Details</span>
                                    <span class="btn-icon"><i class="fa-solid fa-arrow-right"></i></span>
                                    <span class="btn-icon"><i class="fa-solid fa-arrow-right"></i></span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-navigation">
                <div class="swiper-btn swiper-button-prev">
                    <div class="custom-overfolow-btn">
                        <i class="invers-icon fal fa-arrow-left"></i>
                        <i class="invers-icon-top fal fa-arrow-left"></i>
                    </div>
                </div>
                <div class="swiper-btn swiper-button-next">
                    <div class="custom-overfolow-btn">
                        <i class="invers-icon fal fa-arrow-right"></i>
                        <i class="invers-icon-top fal fa-arrow-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Working Process Area End -->

<section class="our-newsletter-area-start tmp-section-gap bg_primary">
    <div class="container-3">
        <div class="row">
            <div class="section-title-area-3">
                <p class="sub-title cg" data-sal="slide-up-large" data-sal-duration="1000" data-sal-delay="100">Get
                    Latest Constx Update</p>
                <h2 class="section-title" data-sal="slide-up-large" data-sal-duration="1000" data-sal-delay="300">
                    Subscribe Our Newsletter</h2>
                <p class="desc">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam explicabo sit est eos earum
                    reprehenderit inventore nam autem corrupti rerum!
                </p>
            </div>
        </div>
        <div class="row mt--40">
            <div class="col-lg-12">
                <form action="#" class="news-letter-modern-wrapper">
                    <input type="text" placeholder="Enter Your E-Mail" required>
                    <button type="submit" class="tmp-btn btn-primary hover-icon-reverse">
                        <span class="icon-reverse-wrapper">
                            <span class="btn-text">Subscribe</span>
                            <span class="btn-icon"><i class="fa-solid fa-arrow-right"></i></span>
                            <span class="btn-icon"><i class="fa-solid fa-arrow-right"></i></span>
                        </span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>