<div class="dash-board-content-area-wrappper mt--30 mt_sm--0 mt_md--0">

    <div
        class="single-card-dashboard account-info box-dashboard-dashboard d-flex align-items-center justify-content-between">
        <h3 class="title title-top-primary"><i class="fa-regular fa-building"></i>Sites Information</h3>
        <a routerLink="../add-site-info" class="tmp-btn btn-primary hover-icon-reverse btn-sm">
            <span class="icon-reverse-wrapper">
                <span class="btn-text">Add Site Info</span>
                <span class="btn-icon"><i class="fa-solid fa-add"></i></span>
                <span class="btn-icon"><i class="fa-solid fa-add"></i></span>
            </span>
        </a>
    </div>
    <div class="single-card-dashboard account-info box-dashboard-dashboard">

        <div class="invers-dashboard-table table-responsive mobile-table-750">
            <table class="invers-table table table-borderless">
                <thead>
                    <tr>
                        <th>Site Name</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <th>Rizwan Heights</th>
                        <td><span class="invers-badge-minimal success">Completed</span></td>
                        <td>
                            <div class="d-flex gap-3">
                                <a href="../view-site-info" role="button" class="text-success"><i
                                        class="fa-regular fa-eye"></i>View</a>
                                <a href="#" role="button" class="text-danger"><i
                                        class="fa-regular fa-trash-can"></i>Delete</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Ali's Home</th>
                        <td><span class="invers-badge-minimal color-warning">Pending</span></td>
                        <td>
                            <div class="d-flex gap-3">
                                <a href="../view-site-info" role="button" class="text-success"><i
                                        class="fa-regular fa-eye"></i>View</a>
                                <a href="#" role="button" class="text-danger"><i
                                        class="fa-regular fa-trash-can"></i>Delete</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Lodhi's Arcade</th>
                        <td><span class="invers-badge-minimal color-danger">Dispute</span></td>
                        <td>
                            <div class="d-flex gap-3">
                                <a href="../view-site-info" role="button" class="text-success"><i
                                        class="fa-regular fa-eye"></i>View</a>
                                <a href="#" role="button" class="text-danger"><i
                                        class="fa-regular fa-trash-can"></i>Delete</a>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

    </div>

</div>