.breadcrumb-user {
    height: 140px;
}

.maindiv {
    height: 90vh;
    overflow-y: scroll;
    scrollbar-width: none;
    overflow-x: hidden;
}

@media print {
    .maindiv {
        height: auto !important;
        overflow: visible !important;
    }
}