<div class="tmp-bread-crumb-area bg-breadcrumb gradient-breadcrumb-1 pb-controler-breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- bread crumb inner wrapper -->
                    <div class="breadcrumb-inner ptb--100 ptb_sm--100 text-center">
                        <h1 class="title">Services We Provide</h1>
                    </div>
                    <!-- bread crumb inner wrapper end -->
                </div>
            </div>
        </div>
    </div>
    <!-- tmp breadcrumba area end -->
    <!-- Breadcrumb End -->



    <section class="tmp-service-details-area tmp-section-gapBottom">
        <div class="container-3">
            <div class="section-inner">
                <div class="row g-5">
                    <div class="col-lg-12">
                        <div class="right-content-area with-radious checkout-padding-shadow">
                            <h2 class="title" style="font-size: 36px;">Comprehensive Construction Solutions</h2>
                            <p class="desc">Our construction services begin with a detailed consultation phase, where our experts assess the client’s project requirements, site conditions, and structural feasibility. This includes evaluating land condition, project scope, materials, and safety standards.</p>
                            <div class="image-area mb--40">
                                <img class="mw-100 w-100" src="assets/images/service/service-details-01.webp" alt="">
                            </div>
                            <ul class="mb--40">
                                <li>
                                    <h3 class="title">Custom Building Plans</h3>
                                    <p class="desc">Every project is unique, which is why we offer fully tailored construction plans that align with your budget, timeline, and functional needs. Our team follows modern project management standards.</p>
                                </li>
                                <li>
                                    <h3 class="title">Modern Building Solutions</h3>
                                    <p class="desc">We use advanced construction technology and durable materials to ensure long-lasting strength, aesthetic appeal, and maximum efficiency for all types of structures.</p>
                                </li>
                                <li>
                                    <h3 class="title">Flexible Budgeting Options</h3>
                                    <p class="desc">We make construction investments easier with transparent budget planning. Our team guides you through cost-saving strategies, material selections, and quality assurance processes.</p>
                                </li>
                            </ul>
                            <div class="image-area mb--40">
                                <img class="mw-100 w-100" src="assets/images/service/service-details-02.webp" alt="">
                                <div class="inner-card">
                                    <div class="content">
                                        <h4>Long-term Benefits</h4>
                                        <p>Highlight the long-term durability, safety, and value appreciation that come with high-quality construction services, ensuring strong performance for years.</p>
                                    </div>
                                    <a href="contact.html" class="button-area"><i class="fa-regular fa-envelope"></i> Talk with Our Team</a>
                                </div>
                            </div>
                            <h3 class="title">Services We Offer</h3>
                            <p class="desc">Our construction services begin with a complete evaluation phase where we assess your project needs and site conditions. This includes material planning, structural analysis, safety checks, and feasibility studies.</p>
                            <div class="faq-content-area with-box-shadow inner mb--40">
                                <div class="accordion-one" id="accordionExample">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingOne">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                <img src="assets/images/faq-area/icon-01.svg" alt=""> What is included in a construction project?
                                            </button>
                                        </h2>
                                        <div id="collapseOne" class="accordion-collapse collapse show" role="region" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p class="desc mb--15">Our construction process includes planning, design, material selection, site preparation, structural building, quality inspection, and final project handover with safety compliance.</p>
                                                <a href="contact.html" class="tmp-btn btn-primary hover-icon-reverse btn-sm">
                                                    <span class="icon-reverse-wrapper">
                                                        <span class="btn-text">Get A Quote</span>
                                                    <span class="btn-icon"><i class="fa-solid fa-arrow-right"></i></span>
                                                    <span class="btn-icon"><i class="fa-solid fa-arrow-right"></i></span>
                                                    </span>
                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingTwo">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                <img src="assets/images/faq-area/icon-01.svg" alt=""> How long does it take to complete a project?
                                            </button>
                                        </h2>
                                        <div id="collapseTwo" class="accordion-collapse collapse" role="region" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p class="desc mb--15">Project duration depends on design complexity, materials, manpower, and weather conditions. We always provide a clear timeline after evaluating your project in detail.</p>
                                                <a href="contact.html" class="tmp-btn btn-primary hover-icon-reverse btn-sm">
                                                    <span class="icon-reverse-wrapper">
                                                        <span class="btn-text">Get A Quote</span>
                                                    <span class="btn-icon"><i class="fa-solid fa-arrow-right"></i></span>
                                                    <span class="btn-icon"><i class="fa-solid fa-arrow-right"></i></span>
                                                    </span>
                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingThree">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                <img src="assets/images/faq-area/icon-01.svg" alt=""> Do I need permits for my construction project?
                                            </button>
                                        </h2>
                                        <div id="collapseThree" class="accordion-collapse collapse" role="region" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p class="desc mb--15">Yes, most construction projects require government approvals and permits. Our team assists you throughout the application and documentation process for a smooth experience.</p>
                                                <a href="contact.html" class="tmp-btn btn-primary hover-icon-reverse btn-sm">
                                                    <span class="icon-reverse-wrapper">
                                                            <span class="btn-text">Get A Quote</span>
                                                    <span class="btn-icon"><i class="fa-solid fa-arrow-right"></i></span>
                                                    <span class="btn-icon"><i class="fa-solid fa-arrow-right"></i></span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingFour">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                <img src="assets/images/faq-area/icon-01.svg" alt=""> Is maintenance required after project completion?
                                            </button>
                                        </h2>
                                        <div id="collapseFour" class="accordion-collapse collapse" role="region" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p class="desc mb--15">Yes, proper maintenance ensures safety and longevity. We offer annual check-ups, repair services, and professional guidance for long-term durability.</p>
                                                <a href="contact.html" class="tmp-btn btn-primary hover-icon-reverse btn-sm">
                                                    <span class="icon-reverse-wrapper">
                                                        <span class="btn-text">Get A Quote</span>
                                                    <span class="btn-icon"><i class="fa-solid fa-arrow-right"></i></span>
                                                    <span class="btn-icon"><i class="fa-solid fa-arrow-right"></i></span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tmp-service-area service">
                                <div class="title-area">
                                    <h3 class="mb--30" style="font-size: 30px;">Benefits of working with us</h3>
                                    <div class="row g-5">
                                        <div class="col-lg-4 col-md-6">
                                            <div class="service-wrapper">
                                                <div class="icon">
                                                    <img src="assets/images/service/13.svg" alt="">
                                                </div>
                                                <h4 class="heading-title"><a href="service-details.html">Reliable Project Delivery</a></h4>
                                                <p class="desc">We ensure timely delivery with strict quality control, ensuring your construction project meets all expectations.</p>

                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <div class="service-wrapper">
                                                <div class="icon">
                                                    <img src="assets/images/service/14.svg" alt="">
                                                </div>
                                                <h4 class="heading-title"><a href="service-details.html">Expert Engineering</a></h4>
                                                <p class="desc">Our engineers bring years of experience in structural planning, durability studies, and modern construction techniques.</p>

                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <div class="service-wrapper">
                                                <div class="icon">
                                                    <img src="assets/images/service/15.svg" alt="">
                                                </div>
                                                <h4 class="heading-title"><a href="service-details.html">Skilled Workforce</a></h4>
                                                <p class="desc">Our dedicated team ensures precision workmanship with a strong focus on safety and industry standards.</p>

                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <div class="service-wrapper">
                                                <div class="icon">
                                                    <img src="assets/images/service/13.svg" alt="">
                                                </div>
                                                <h4 class="heading-title"><a href="service-details.html">Professional Services</a></h4>
                                                <p class="desc">From planning to project completion, we provide end-to-end solutions with transparent communication.</p>

                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <div class="service-wrapper">
                                                <div class="icon">
                                                    <img src="assets/images/service/14.svg" alt="">
                                                </div>
                                                <h4 class="heading-title"><a href="service-details.html">Smart Budget Planning</a></h4>
                                                <p class="desc">We help you maximize value with cost-effective solutions, smart material choices, and optimized project planning.</p>

                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <div class="service-wrapper">
                                                <div class="icon">
                                                    <img src="assets/images/service/15.svg" alt="">
                                                </div>
                                                <h4 class="heading-title"><a href="service-details.html">Industry Expertise</a></h4>
                                                <p class="desc">With years of experience, we guarantee high-performance designs, durable structures, and outstanding results.</p>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>