<div class="dash-board-content-area-wrappper mt--30 mt_sm--0 mt_md--0">

    <div
        class="single-card-dashboard account-info box-dashboard-dashboard d-flex align-items-center justify-content-between">
        <h3 class="title title-top-primary"><i class="fa-regular fa-building"></i>My Sites</h3>
        <a routerLink="../add-site" class="tmp-btn btn-primary hover-icon-reverse btn-sm">
            <span class="icon-reverse-wrapper">
                <span class="btn-text">Add New Site</span>
                <span class="btn-icon"><i class="fa-solid fa-add"></i></span>
                <span class="btn-icon"><i class="fa-solid fa-add"></i></span>
            </span>
        </a>
    </div>
    <div class="single-card-dashboard account-info box-dashboard-dashboard">

        <div class="invers-dashboard-table table-responsive mobile-table-750">
            <table class="invers-table table table-borderless">
                <thead>
                    <tr>
                        <th>Site Name</th>
                        <th>Site Type</th>
                        <th>Location</th>
                        <th>Budget</th>
                        <th>Advance</th>
                        <th>Remaining</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <th>Rizwan Heights</th>
                        <th>Building</th>
                        <th>B Block , Citi Housing</th>
                        <td>5,000,000</td>
                        <td>1,500,000</td>
                        <td>3,500,000</td>
                        <td><span class="invers-badge-minimal success">Completed</span></td>
                        <td>
                            <div class="d-flex gap-3">
                                <a href="#" role="button" class="text-primary"><i
                                        class="fa-regular fa-pen-to-square"></i>Edit</a>
                                <a href="#" role="button" class="text-danger"><i
                                        class="fa-regular fa-trash-can"></i>Delete</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Ali's Home</th>
                        <th>Home</th>
                        <th>D Block , Citi Housing</th>
                        <td>3,200,000</td>
                        <td>800,000</td>
                        <td>2,400,000</td>
                        <td><span class="invers-badge-minimal color-warning">Pending</span></td>
                        <td>
                            <div class="d-flex gap-3">
                                <a href="#" role="button" class="text-primary"><i
                                        class="fa-regular fa-pen-to-square"></i>Edit</a>
                                <a href="#" role="button" class="text-danger"><i
                                        class="fa-regular fa-trash-can"></i>Delete</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Lodhi's Arcade</th>
                        <th>Building</th>
                        <th>E Block , Citi Housing</th>
                        <td>8,500,000</td>
                        <td>2,000,000</td>
                        <td>6,500,000</td>
                        <td><span class="invers-badge-minimal color-danger">Dispute</span></td>
                        <td>
                            <div class="d-flex gap-3">
                                <a href="#" role="button" class="text-primary"><i
                                        class="fa-regular fa-pen-to-square"></i>Edit</a>
                                <a href="#" role="button" class="text-danger"><i
                                        class="fa-regular fa-trash-can"></i>Delete</a>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

    </div>

</div>