<div class="dash-board-content-area-wrappper mt--30 mt_sm--0 mt_md--0">

    <div
        class="single-card-dashboard account-info box-dashboard-dashboard d-flex align-items-center justify-content-between">
        <h3 class="title title-top-primary"><i class="fa-regular fa-building"></i>My Sites</h3>
        <a routerLink="../add-site" class="tmp-btn btn-primary hover-icon-reverse btn-sm">
            <span class="icon-reverse-wrapper">
                <span class="btn-text">Add New Site</span>
                <span class="btn-icon"><i class="fa-solid fa-add"></i></span>
                <span class="btn-icon"><i class="fa-solid fa-add"></i></span>
            </span>
        </a>
    </div>
    <div class="single-card-dashboard account-info box-dashboard-dashboard">

        <div class="invers-dashboard-table table-responsive mobile-table-750">
            <div class="row mb--10">
                <div class="col-lg-4 edit-account-information mt-0">
                    <div class="input-wrapper">
                        <div class="single-input">
                            <input type="text" [(ngModel)]="searchText" placeholder="Search by Name or Location...">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-input">
                        <div class="invers-modern-select">
                            <div class="select">
                                <div class="selectBtn" (click)="toggleDropdown()" [class.toggle]="isDropdownOpen">{{
                                    filterStatusVal }}</div>
                                <div class="selectDropdown" [class.toggle]="isDropdownOpen" style="display: block;"
                                    *ngIf="isDropdownOpen">
                                    <div class="option" (click)="selectStatus('All')">All Status</div>
                                    <div class="option" (click)="selectStatus('Completed')">Completed</div>
                                    <div class="option" (click)="selectStatus('Pending')">Pending</div>
                                    <div class="option" (click)="selectStatus('Dispute')">Dispute</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <table class="invers-table table table-borderless">
                <thead>
                    <tr>
                        <th>Site Name</th>
                        <th>Site Type</th>
                        <th>Location</th>
                        <th>Budget</th>
                        <th>Advance</th>
                        <th>Remaining</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let site of filteredSites">
                        <th>{{ site.name }}</th>
                        <th>{{ site.type }}</th>
                        <th>{{ site.location }}</th>
                        <td>{{ site.budget | number }}</td>
                        <td>{{ site.advance | number }}</td>
                        <td>{{ site.remaining | number }}</td>
                        <td><span class="invers-badge-minimal" [ngClass]="getStatusClass(site.status)">{{ site.status
                                }}</span></td>
                        <td>
                            <div class="d-flex gap-3">
                                <a href="javascript:void(0)" role="button" class="text-primary"><i
                                        class="fa-regular fa-pen-to-square"></i>Edit</a>
                                <a href="javascript:void(0)" role="button" class="text-danger"><i
                                        class="fa-regular fa-trash-can"></i>Delete</a>
                            </div>
                        </td>
                    </tr>
                    <tr *ngIf="filteredSites.length === 0">
                        <td colspan="8" class="text-center">No sites found matching criteria.</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>