/* You can add global styles to this file, and also import other style files */

/* Global Print Styles */
@page {
    size: landscape;
    margin: 0;
}

@media print {

    /* Hide sidebar and header */
    app-header,
    .user-infor-left-sidebar-dashboard,
    .col-lg-3.col-xl-2 {
        display: none !important;
    }

    /* Make content full width */
    .col-lg-9.col-xl-10 {
        width: 100% !important;
        max-width: 100% !important;
        flex: 0 0 100% !important;
    }

    .dash-board-content-area-wrappper {
        margin: 0 !important;
        padding: 0 !important;
    }

    body {
        margin: 0 !important;
        padding: 0 !important;
    }

    .no-print {
        display: none !important;
    }
}