<div class="loader-wrapper">
    <div class="loader">
    </div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>
<div class="loader-wrapper">
    <div class="loader">
    </div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<div class="mouse-cursor cursor-outer"></div>
<div class="mouse-cursor cursor-inner"></div>
<div id="anywhere-home" class="">
</div>
<div class="scrollbar-v show-on-scroll"></div>
<div class="float-text show-on-scroll">
    <span><a href="#">Scroll to top</a></span>
</div>
<div id="elevate-load">
    <div class="loader-wrapper">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>