<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>

<div class="mouse-cursor cursor-outer"></div>
<div class="mouse-cursor cursor-inner"></div>
<div id="anywhere-home" class="">
</div>
<div class="scrollbar-v show-on-scroll"></div>
<div class="float-text" *ngIf="showScrollButton" (click)="scrollToTop()" style="cursor: pointer; display: block;">
    <span
        style="padding: 9px 5px; border-radius: 20px; background: #fff; color: var(--color-heading-1); box-shadow: rgba(149, 157, 165, .2) 0 8px 24px; display: block;">Scroll
        to top</span>
</div>